@model IEnumerable<WannabeReddit.Models.Post>
@using Microsoft.AspNet.Identity
@using WannabeReddit.Models;

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wannabe Reddit Clone</h1>
    <p class="lead">Welcome to the redditt knock-off</p>
    
</div>

<div class="container">

    <ul class="list-group">
        <li class="list-group-item active"> 
        <div class="row">
          <div class ="col-md-8"><strong>Top posts</strong></div>
            

            <div class="col-md-4">@Html.ActionLink("Create Post", "Create", "Posts", null, new { @class = "btn btn-primary btn-lg &raquo" })</div>
            
           </div>
        </li>


       @foreach (var item in Model)
       {
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-2">
                    <img src="/Images/doublezero.jpg" alt="gundamu" class="img-thumbnail img-responsive">
                </div>
                <div class="col-md-10">
                    
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    ApplicationDbContext db = new ApplicationDbContext();

                    //another way to do this
                    //var users = db.Users.ToList();
                    //var theUser = users.Where(w => w.Id == item.UserId).Select(s => s.UserName);
                    //var answer = "";
                    //foreach (var x in theUser)
                    //{
                    //    answer += x;
                    //}
                    if (item.UserId != null)
                    {

                        var users = db.Users.First(f => f.Id == item.UserId);
                        <p>post made by @users.UserName</p>
                    }
                    else
                    {
                        <p>no username</p>
                    }
                }
                    @{ DateTime result = Convert.ToDateTime(item.DatePosted);
                        string formattedDate = result.ToShortDateString();   
                            }

               
                    
                    <p><strong>@item.Title</strong></p> <span> posted on @formattedDate</span>
                    <p>@item.Body</p>
                    <p>Total Upvotes @item.UpVotes <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></p>
                </div>

            </div>
        </li>
       }

    
        
        
        <li class="list-group-item disabled">
            <div class=" text-center">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="~/Home/Index?pageIndex=1">1</a></li>
                    <li><a href="~/Home/Index?pageIndex=2">2</a></li>
                    <li><a href="~/Home/Index?pageIndex=3">3</a></li>
                    <li><a href="#">4</a></li>
                    <li class="active"><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>


        </li>
    </ul>
</div>
